# Python
__pycache__/
*.py[cod]
.venv/
venv/
env/

# Django
*.log
*.sqlite3
db.sqlite3
/staticfiles/
/media/

# Secrets
.env
*.pem

# Tooling
.pytest_cache/
.coverage
htmlcov/
.DS_Store
.idea/
.vscode/
